<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="afe297">  <td>21/08/11 14:23:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.screenShot(org.testng.ITestResult)[pri:0, instance:tests.AccountConfigTest@2e222612]">&lt;&lt;screenShot</td> 
<td>&nbsp;</td>  <td>main@1207608476</td>   <td></td> </tr>
<tr bgcolor="afe297">  <td>21/08/11 14:20:12</td>   <td>-193297</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpAndLogin()[pri:0, instance:tests.AccountConfigTest@2e222612]">&gt;&gt;setUpAndLogin</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1207608476</td>   <td></td> </tr>
<tr bgcolor="afe297">  <td>21/08/11 14:23:25</td>   <td>62</td> <td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:tests.AccountConfigTest@2e222612]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1207608476</td>   <td></td> </tr>
<tr bgcolor="80d585">  <td>21/08/11 14:20:23</td>   <td>-181395</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountConfigTest.verifyRolesPermissionsTest()[pri:0, instance:tests.AccountConfigTest@2e222612]">verifyRolesPermissionsTest</td> 
  <td>main@1207608476</td>   <td></td> </tr>
</table>
