<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="91ef70">  <td>21/08/11 14:08:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ManageRolesTest.addRoleTest()[pri:0, instance:tests.ManageRolesTest@2e222612]">addRoleTest</td> 
  <td>main@1207608476</td>   <td></td> </tr>
<tr bgcolor="91ef70">  <td>21/08/11 14:08:39</td>   <td>23603</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ManageRolesTest.editRoleTest()[pri:0, instance:tests.ManageRolesTest@2e222612]">editRoleTest</td> 
  <td>main@1207608476</td>   <td></td> </tr>
<tr bgcolor="e29181">  <td>21/08/11 14:08:39</td>   <td>23602</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.screenShot(org.testng.ITestResult)[pri:0, instance:tests.ManageRolesTest@2e222612]">&lt;&lt;screenShot</td> 
<td>&nbsp;</td>  <td>main@1207608476</td>   <td></td> </tr>
<tr bgcolor="e29181">  <td>21/08/11 14:09:15</td>   <td>59261</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.screenShot(org.testng.ITestResult)[pri:0, instance:tests.ManageRolesTest@2e222612]">&lt;&lt;screenShot</td> 
<td>&nbsp;</td>  <td>main@1207608476</td>   <td></td> </tr>
<tr bgcolor="e29181">  <td>21/08/11 14:09:36</td>   <td>80574</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.screenShot(org.testng.ITestResult)[pri:0, instance:tests.ManageRolesTest@2e222612]">&lt;&lt;screenShot</td> 
<td>&nbsp;</td>  <td>main@1207608476</td>   <td></td> </tr>
<tr bgcolor="e29181">  <td>21/08/11 14:08:09</td>   <td>-6839</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpAndLogin()[pri:0, instance:tests.ManageRolesTest@2e222612]">&gt;&gt;setUpAndLogin</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1207608476</td>   <td></td> </tr>
<tr bgcolor="e29181">  <td>21/08/11 14:09:36</td>   <td>80661</td> <td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:tests.ManageRolesTest@2e222612]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1207608476</td>   <td></td> </tr>
<tr bgcolor="91ef70">  <td>21/08/11 14:09:15</td>   <td>59261</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ManageRolesTest.viewRoleTest()[pri:0, instance:tests.ManageRolesTest@2e222612]">viewRoleTest</td> 
  <td>main@1207608476</td>   <td></td> </tr>
</table>
